@import "tailwindcss";



::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #EFF6FF;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media (max-width: 768px) {
  html, body {
    position: static !important;
    overflow: auto !important;
    height: auto !important;
  }

  * {
    backdrop-filter: none !important;
  }
}

@keyframes bounce-dots {
  0%, 80%, 100% { transform: scale(0); }
  40% { transform: scale(1); }
}

.loading-dots span {
  animation: bounce-dots 1.4s infinite ease-in-out both;
  display: inline-block;
  background-color: white; /* adjust to match your text color */
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 9999px;
  margin: 0 2px;
}

.loading-dots span:nth-child(1) {
  animation-delay: -0.32s;
}
.loading-dots span:nth-child(2) {
  animation-delay: -0.16s;
}